@font-face {
  font-family: "Roboto"; /* Nombre de la fuente que deseas utilizar */
  src: url("Roboto-Bold.ttf") format("truetype"); /* Ruta relativa o absoluta al archivo de la fuente */
  /* Otras propiedades opcionales para la fuente, como weight y style */
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #020309;
  color: white;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0px;
}

h1,
h2 {
  text-align: center;
  margin-top: 0px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  /*text-transform: uppercase;*/
  color: #fff; /* Cambia el color a tu elección */
  text-align: left;
}

/*Estilos del slider*/
.swiper-hero {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.swiper-hero .swiper-slide {
  width: 250px;
}

.swiper-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-hero .swiper-slide img {
  border-radius: 8px;
}

.swiper-hero .swiper-slide {
  min-width: 200px; /* Tamaño mínimo para cada slide */
}

/*Slider con img horizontal*/

.swiper-rectangula {
  width: 100%;
  height: auto;
  margin-top: 5px;
  min-width: 200px;
}

.swiper-rectangula img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-rectangula .swiper-slide img {
  border-radius: 8px;
}

.swiper-rectangula .swiper-slide {
  min-width: 200px; /* Tamaño mínimo para cada slide */
}

.swiper-rectangula .swiper-button-prev,
.swiper-rectangula .swiper-button-next {
  --swiper-navigation-size: 13px;
  --swiper-theme-color: #fff;
  height: 70px;
  width: 50px;
  margin-top: -35px;
}

.swiper-rectangula .swiper-button-prev {
  left: -10px;
}
.swiper-rectangula .swiper-button-next {
  right: -10px;
}

/*Poster de peliculas*/
.movies-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.movies-container::-webkit-scrollbar {
  /* Ocultar la barra de desplazamiento WebKit por defecto */
  width: 0;
}

.movie {
  width: 250px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
}

.movie-rectangula {
  width: 250px !important;
  position: relative;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  border-radius: 8px;
  overflow: hidden;
}

.movie-rectangula img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);*/
  border-radius: 8px;
}
.movie .imdb-rating {
  position: absolute;
  top: -0.5em;
  left: 0.5em;
  align-items: center;
  color: orange;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.movie .imdb-rating::before {
  content: "\2605";
  margin-right: 2px;
}

.movie-rectangula .imdb-rating {
  position: absolute;
  top: -0.5em;
  left: 0.5em;
  align-items: center;
  color: orange;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.movie-rectangula .imdb-rating::before {
  content: "\2605";
  margin-right: 2px;
}

.movie .tooltip:hover {
  -webkit-line-clamp: unset;
}

.movie-rectangula .tooltip:hover {
  -webkit-line-clamp: unset;
}

/* Estilo para el scroll horizontal en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .movies-container {
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 5px; /* Reducir el espacio entre películas */
  }

  .movie {
    flex: 0 0 auto;
    width: 130px;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    /*text-transform: uppercase;*/
    color: #fff; /* Cambia el color a tu elección */
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .movie-rectangula {
    flex: 0 0 auto;
    width: 250px;
  }

  .movie-rectangula img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);*/
    border-radius: 8px;
  }

  .movie-rectangula .imdb-rating {
    position: absolute;
    top: -0.5em;
    left: 0.5em;
    align-items: center;
    color: orange;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 768px) {
  .clickable-image img {
    transition: transform 0.2s ease-in-out;
  }

  .clickable-image:active img {
    transform: scale(0.95);
  }
}

/*Estilos para los botones categoria*/
/*.title-category {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fff; /* Cambia el color a tu elección */
/*text-align: center;
}*/

.categories-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px; /* Espacio entre botones */
  overflow-x: auto;
  margin-top: 30px;
  margin-bottom: 35px; /* Espacio inferior opcional */
  white-space: nowrap; /* Evita el ajuste de línea */
}

.category {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.category:last-child {
  margin-right: 0;
}
.categories-container::-webkit-scrollbar {
  display: none;
}

.swiper-hero .swiper-pagination {
  --swiper-pagination-color: #ffc700;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-inactive-color: #ffc700;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.swiper-hero .swiper-pagination-bullet {
  box-shadow: inset 0 0 0 1px #fff;
}

.swiper-hero .swiper-pagination-bullet-active {
  box-shadow: 0 0 0 1px rgba(255, 195, 0, 0.25);
}
